@color1: #00040e;
@color2: #172530;
@color3: #2b4657;
@color4: #406e84;
@color5: #579cb7;

@color1: #0A2647;
@color2: #144272;
@color3: #205295;
@color4: #2C74B3;

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
}

html {
    background-color: @color2;
}

.CodeMirror {
    width: 500px;
    margin: 0 auto;
}